#search-city {
    font-size: 20px;
}

#current-city {
    font-size: 25px;
}

#current-date {
    font-size: 25px; 
}

.date {
    font-size: 18px;
}

#week-header {
    font-size: 20px;
}

p {
    font-size: 13px;
}

/* UV Index colors */

.extreme {
    background-color: #6702a1;
    color: white;
    width: 100px;
    padding-left: 6px;
}

.very-high {
    background-color: #cc0404;
    color: white;
    width: 100px;
    padding-left: 6px;
}

.high {
    background-color: #c99403;
    color: white;
    width: 100px;
    padding-left: 6px;
}

.moderate {
    background-color: #deeb2b;
    color: white;
    width: 100px;
    padding-left: 6px;
}

.low {
    background-color: #0dd80d;
    color: white;
    width: 100px;
    padding-left: 6px;
}